body {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: fixed;
}

.card {
  width: 450px;
  height: 300px;
  border-radius: 25px;
  box-shadow: 0 25px 35px -50px #000000;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform .05s linear;
  
}
.card: hover {
  width: 450px;
  height: 300px;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform .05s linear;
  -webkit-transform-style: preserve-3d;
}
  


.card .thumb {
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
 
}

.card .thumb:after {
  background: #000000;
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  opacity: 25%;
  top: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(35px);
  pointer-events: none;

}

.card h1 {
  font-family: 'Muli', sans-serif;
  position: absolute;
  top: 30px;
  left: 65px;
  font-size: 18px;
  font-weight: 800;
  color: #29323c;
  transform: translateZ(100px);
}
.card h2 {
  font-family: 'Muli', sans-serif;
  position: absolute;
  top: 52px;
  left: 75px;
  font-size: 12px;
  font-weight: 500;
  color: #a0a0a0;
  transform: translateZ(90px);
}

.logo {
  position: absolute;
  pointer-events: none;
  float: right;
  top: 40px;
  right: 70px;
  transform: translateZ(90px);
}


.social-container {
  position: absolute;
  bottom: 110px;
  text-align: center;
  width: 400px;
  align-content: center;
  }

.social-inner {
  list-style: none;
  text-align: center;
  align-content: center;
}

.social-inner li {
  display: inline-block;
  position: relative;
  font-size: 1.1em;
  margin: 4px;
  cursor: pointer;
  height: 35px;
  width: 35px;

}

.social-inner i {
  color:#29323c;
  position: absolute;
  top: 9px;
  left: 10px;
  transition: all 200ms ease-out;
  transform: translateZ(55px);
 }

.social-inner a {
  display: inline-block;

}
.social-inner a:before {
  content:" ";
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: block;
  border-radius: 35%;
  box-shadow: 0px 25px 35px -10px #000000;
  transform: translateZ(50px);
  transition: all 300ms ease-out;
}

.social-inner li a:hover:before {
  transform: scale(0.1);
  opacity: 0%;
  border-radius: 100%;
  transition: all 200ms ease-in;
}
.social-inner li:hover i{
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transition: all 200ms ease-out;

}


h3 {
  font-family: 'Muli', sans-serif;
  position: relative;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transform: translateZ(100px);
}
/*
.explore{
  padding: 10px;
  border-radius:25;
  outline: none;
  text-align: center;
  align-content: center;
  align-items: center;
}
.explore :hover{
  background-color: #020238;
 
  }
  */

.card span{
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  text-align: center;
}
  


/*

.fa-instagram {
  color: #ea1f72;
  transition-duration: 0.2s;
}
.fa-dribbble {
  color: #c32361;
  transition-duration: 0.2s;
}
.fa-behance {
  color: #0057ff;
  transition-duration: 0.2s;
}
.fa-envelope {
  color: #d72b27;
  transition-duration: 0.2s;
}
.fa-telegram-plane {
  color: #37aee2;
  transition-duration: 0.2s;
}
.fa-linkedin-in {
  color: #2668b2;
  transition-duration: 0.2s;
}
*/
ul li a:hover .fa-instagram {
  color: #ea1f72;
}
ul li a:hover .fa-dribbble {
  color: #c32361;
}
ul li a:hover .fa-behance {
  color: #0057ff;
}
ul li a:hover .fa-envelope {
  color: #d72b27;
}
ul li a:hover .fa-telegram-plane {
  color: #37aee2;
}
ul li a:hover .fa-linkedin-in {
  color: #2668b2;
}
img {
  margin: auto;
  display: block;
  border-radius: 1px;
}




/*BUTTTON*/


* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


button {
  position: relative;
  float: right;
  right: 70px;
  bottom: 65px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  transform: translateZ(80px);
}
button.learn-more {
  width: 4.8rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 1.5rem;
  background: #29323c;
  box-shadow: 0 70px 63px #000000;
  border-radius: 1.5rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.74rem;
  width: 0.4rem;
  height: 0.12rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.15rem;
  right: 0rem;
  width: 0.4rem;
  height: 0.4rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  font-family: 'Muli', sans-serif;
  top: 0.3rem;
  left: 2.5rem;
  right: 0;
  bottom: 0;
  padding: 0 0;
  margin: 0 0 0 0;
  color: #29323c;
  font-weight: 500;
  text-align: left;
 }
button:hover .circle {
  width: 100%;
  background: #020238;

}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(3.9rem, 0);
          transform: translate(2.9rem, 0);
}
button:hover .button-text {
  color: #fff;
  left: 0.9rem
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }

  .preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../images/icons/favicon-32x32.png');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
}
}