/*htm,
body {
  height: 2500px;
  width: 100%;
 margin: 0 auto;
 }

body{
  background-blend-mode: multiply; 
  background:  linear-gradient(
    111.47deg,
    #c7e6ed -7.47%,
    #d0eaf0 -0.46%,
    #e1f2f5 15.71%,
    #f2f9fb 38.55%,
    #fcfefe 63.6%,
    #ffffff 94.8%
  ), rgba(2, 2, 56, 0.04);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
.elblue {
  /* Rectangle 1 */


position: absolute;
width: 128px;
height: 644px;
left: 77.99px;
top: -160px;

/* Std Blue */

background: linear-gradient(66.77deg, #0986B2 5.22%, #00BCFF 94.79%);
filter: blur(120px);
border-radius: 85px;
transform: rotate(22.36deg);
}
.reblue {
  position: absolute;
  width: 121.39px;
  height: 648.59px;
  right: 10vw;
  top: 545px;
  
  /* Std Blue */
  
  background: linear-gradient(67.99deg, #0986B2 5.22%, #00BCFF 94.79%);
  filter: blur(12px);
  border-radius: 249px;
  transform: rotate(22.36deg);
}
.rered {
  /* Rectangle 24 */


position: absolute;
width: 121px;
height: 636px;
right: 10vw;
top: 1028.03px;

/* Std Red */

background: linear-gradient(292.34deg, #B21238 5.2%, #FF003C 94.79%);
mix-blend-mode: multiply;
filter: blur(120px);
border-radius: 100px;
transform: rotate(-22.36deg);
}
.deco1{
  display: flex;
  margin: auto;
  position: absolute;
width: 880px;
height: 696px;
right: -20vw;
top: -48px;

/* Round Square Ornament */

background: linear-gradient(90deg, #020238 0%, rgba(2, 2, 56, 0) 100%);
opacity: 0.03;
border-radius: 50px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto;
}


.header-container {
  position: absolute;
  width: 100%;
  height: 50px;

  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  }

.logo-wrapper {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}
.logo {
width: 20px;
height: 20.13px;

}











.id-container {
  margin-top: -20em;
  animation: id-loop 4s infinite;
  animation-timing-function: ease-in-out;

}
.rope {
  position: relative;
  z-index: 6;
  width: 200px;
  height: 600px;
  top: 58px;
  left: 35px;
  background: url(../images/rope.png);
}

.card-wrapper {
  position: relative;
}

.card-glow {
position: relative;
  z-index: 3;
  top: 15px;
  filter: blur(20px) opacity(80%);
  width: 272px;
  height: 474px;
  background-image: url(../svg/color.svg);
/*
  animation: light-shadow 4s infinite;
  animation-timing-function: ease-in-out;
*/
}


.card-shadow {
  background-image: url("../svg/mask.svg");
  position: absolute;
  top: 12px;
  width: 272px;
  height: 474px;
  filter: blur(24px);
  opacity: 5%;
/*
  animation: id-shadow 4s infinite;
  animation-timing-function: ease-in-out;      
*/
}
#mask {
  position: absolute;
}

.card-container {
  clip-path: url(#masked);
  z-index: 5;
  position: absolute;
  width: 272px;
  height: 474px;
  background: linear-gradient(
    62.25deg,
    #f4ffff -22.96%,
    #f7fdfd 32.18%,
    #fafafa 216.12%
  );
}
.card-logo {
  z-index: 10;
  position: absolute;
  width: 30px;
  height: 31px;
  top: 88px;
  left: 121px;
  background: url("../svg/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 31px;
}

.card-design {
  position: absolute;
  width: 272px;
  height: 474px;
  z-index: 1;
  background: url(../svg/color.svg);
}

.pic-wrapper {
  
  position: absolute;
  width: 164px;
  height: 164px;
  left: 54px;
  top: 155px;
  clip-path: circle(50%);
  background: #fff119;
  animation: 10s infinite bgcolorchange ;
  animation-timing-function: ease-in-out;
}

@keyframes bgcolorchange {
  
  0% {
    background: #FF003C;
  }
  30% {
    background: #FF003C;
  }
  31% {
    background: #00BCFF;
  }
  60% {
    background: #00BCFF;
  }
  61% {
    background: #fff119;
  }
  99% {
    background: #fff119;
  }
  100% {
    background: #FF003C;
  }
}

#shadow {
  position: absolute;
  top: 50px;
  left: 10px;
}

.me {
  position: absolute;
  width: 125px;
  height: 188px;
  left: 20px;
  background-image: url('/src/images/mes.png')
}
  
.text-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  left: 33px;
  top: 359px;
  line-height: 0px;
  text-align: left; !important
}
.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #353535;
}

.as {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #353535;
}
/*

@keyframes id-loop {
    0%  {transform: translateY(10px);

    }

    60% {
        transform: translateY(35px);
    }
    100% {
        transform: translateY(10px);

    }

    
}

@keyframes id-shadow {
    0%  {transform: translateY(100px);

    }

    60% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(100px);

    }
}

@keyframes id-shadow {
    0%  {transform: translateY(50px);

    }

    60% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(50px);

    }
}

