:root {
  --textnormal: #020238;
  --texthover: #ffffff;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 2500px;
  background-blend-mode: multiply;
  background: linear-gradient(
      111.47deg,
      #c7e6ed -7.47%,
      #d0eaf0 -0.46%,
      #e1f2f5 15.71%,
      #f2f9fb 38.55%,
      #fcfefe 63.6%,
      #ffffff 94.8%
    ),
    rgba(2, 2, 56, 0.04);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.header-wrapper {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.logo-wrapper {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}
.logo {
  width: 20px;
  height: 20.13px;
}
.footerlogoitem {
  width: 33px;
}

.kiri {
  width: auto;
  transition: all 0.25s ease;
  z-index: 10;
}
.kanan {
  
  align-self: center;

  transition: all 0.25s ease;
}

.atas-wrapper {
  display: flex;
  column-gap: 10%;
  transition: all 0.25s ease;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.greeting-container{
padding-bottom: 20em;
  position: absolute;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px
;
}
.greeting {
position: absolute;
margin: 0 auto;
  font-family: "Inter";
  font-weight: 900;
  font-size: 73px;
  line-height: 88px;
  color: #ff003c;
}
.greeting::after {
position: absolute;
left: 2.5px;
  content: "Hello...";
  color: #020238;
}
.greeting::before {
  position: absolute;

  left: 5px;
  content: "Hello...";
  color: #00bcff;
}

.about {
  margin-top: 25em;
  transition: all 0.25s ease;
  width: 220px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #646464;
}

ul#worktype-item-wrapper {
  padding: 15em 0;
  background: linear-gradient(
    90deg,
    rgba(2, 2, 56, 0.05) 0%,
    rgba(2, 2, 56, 0) 100%
  );
  margin-top: 100px;
  justify-content: center;
  place-items: center;
  display: grid;
  grid-template-columns: 330px;
  grid-template-rows: repeat(2, 225px);
  column-gap: 30px;
  row-gap: 30px;
  grid-template-areas:
    "item1 item2"
    "item3 item4";
}

@media only screen and (max-width: 700px) {
  ul#worktype-item-wrapper {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4";
  }

  .content::after {
    opacity: 0;
  }
  ul #itemstyle {
    width: 75vw;
  }
  .content::before {
    opacity: 0;
  }
  .atas-wrapper {
    padding: 10em;
  }
  .about {
    margin: 0 auto;
    margin-top: 20em;
    text-align: left;
    width: 75vw;
    font-size: 16px;
    line-height: 28px;
  }
  .deco1 {
    left: 100px;
  }
}

#itemstyle {
  transition: transform 0.2s;
  border-radius: 20px;
  place-items: center;
  border: 2px rgba(2, 2, 56, 0.1) solid;
  width: 330px;
  min-width: 320px;
  height: 225px;
  transition: all 0.25s ease;
}

#itemstyle:hover {
  border: 2px rgba(2, 2, 56, 0) solid;
  background-color: rgba(1, 2, 56, 1);
  transition: 200ms;
  transform: scale(1.05);
  box-shadow: 10px 10px 55px rgba(1, 2, 56, 0.25),
    -10px -10px 55px rgba(255, 255, 255, 0.75);
}
#itemstyle:hover #svganim {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: svg_draw 1500ms ease-in-out 500ms forwards;
  -webkit-animation: svg_draw 1500ms ease-in-out 500ms forwards;
  -moz-animation: svg_draw 2000ms ease-in-out 20ms forwards;
  -webkit-transition: 100ms ease-in;
  -moz-transition: 100ms ease-in-out;
}

#itemstyle:hover #icostroke {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: svg_draw 1500ms ease-out 100ms forwards;
  -webkit-animation: svg_draw 1000ms ease-in-out 100ms forwards;
  -moz-animation: svg_draw 1500ms ease-in-out 100ms forwards;
}

@keyframes svg_draw {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 250;
  }
}

#itemstyle:hover #icofill {
  -moz-transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  fill: white;
}
#itemstyle:hover #icostroke {
  stroke: white;
  transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 50ms ease-out;
}

#itemstyle:hover .itemtext {
  color: var(--texthover);
  transition: 250ms;
  transition-timing-function: ease-in-out;
}

.item1 {
  grid-area: item1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item2 {
  grid-area: item2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item3 {
  grid-area: item3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item4 {
  grid-area: item4;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.itemtext {
  font-family: "Inter";
  width: 135px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* Std Indigo */

  color: var(--textnormal);
}

.weighted {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  /* Std Indigo */
}
.show {
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (min-width: 700px) {
  .content::after {
    content: "";
    left: 0px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgb(242, 243, 248) 0%,
      rgba(242, 243, 248, 0) 100%
    );
    pointer-events: none;
  }
  .content::before {
    content: "";
    pointer-events: none;
    right: 0px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgba(242, 243, 248, 0) 0%,
      rgba(242, 243, 248, 1) 100%
    );
  }
}
.con-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.con-cards .card {
  scroll-snap-align: center;
}
.con-cards::-webkit-scrollbar {
  height: 0px;
}
.con-cards::before {
  content: "";
  display: block;
  min-width: 150px;
  height: 100px;
  position: relative;
}
.con-cards::after {
  content: "";
  display: block;
  min-width: 150px;
  height: 100px;
  position: relative;
}

.card {
  width: 100px;
  min-width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 35px;
  position: relative;
  margin: 25px;
  z-index: 0;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.card:hover {
  transform: translate(0, -20px);
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 20%);
}

.card.active {
  height: 400px;
}

.card.active .desc {
  opacity: 1;
}

.card.active .showtext-wrapper.active {
  bottom: 110px;
}

.card:hover #img1 {
  background-size: 555px;
}
.card:hover #img2 {
  background-size: 555px;
}
.card:hover #img3 {
  background-size: 555px;
}
.card:hover #img4 {
  background-size: 555px;
}
.card.active #img1 {
  background-position-y: -35px;
}
.card.active #img2 {
  background-position-y: -35px;
}
.card.active #img3 {
  background-position-y: -35px;
}
.card.active #img4 {
  background-position-y: -35px;
}
/*
.card:active .showimage-wrapper-2 {
  background-position-y: -35px;
}
.card:active .showimage-wrapper-3 {
  background-position-y: -35px;
}
.card:active .showimage-wrapper-4 {
  background-position-y: -35px;
}
*/
.showimage-wrapper::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: linear-gradient(360deg, #020238 0%, rgba(2, 2, 56, 0) 100%);
}
/*
.showimage-wrapper-2::after{
  content: '';
  position: absolute;
  left: 0px;
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: linear-gradient(360deg, #020238 0%, rgba(2, 2, 56, 0) 100%);
}
.showimage-wrapper-3::after{
  content: '';
  position: absolute;
  left: 0px;
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: linear-gradient(360deg, #020238 0%, rgba(2, 2, 56, 0) 100%);
}
.showimage-wrapper-4::after{
  content: '';
  position: absolute;
  left: 0px;
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: linear-gradient(360deg, #020238 0%, rgba(2, 2, 56, 0) 100%);
}
*/
#img1 {
  background: url(../images/slide1.png);
  background-size: 500px;
  background-position: center;
}
#img2 {
  background: url(../images/slide2.png);
  background-size: 500px;
  background-position: center;
}
#img3 {
  background: url(./images/slide3.png);
  background-size: 500px;
  background-position: center;
}
.showimage-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 35px;
  transition: all 0.25s ease;
}
/*
.showimage-wrapper-2{
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: url(./slide2.png);
  background-size: 500px;
  background-position: center;
  transition: all .25s ease;
}
.showimage-wrapper-3{
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: url(./slide3.png);
  background-size: 500px;
  background-position: center;
  transition: all .25s ease;
}
.showimage-wrapper-4{
  width: 300px;
  height: 300px;
  border-radius: 35px;
  background: url(./slide4.png);
  background-size: 500px;
  background-position: center;
  transition: all .25s ease;
}
*/
.showtext-wrapper {
  position: absolute;
  bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  transition: all 0.25s ease;
}
h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  /* Std Indigo */

  color: #fff;
}
p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  align-items: center;

  color: #fff119;
}
.desc {
  opacity: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
  color: rgba(1, 2, 56, 0.75);
  transition: all 0.25s ease;
}

.footer-container {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 350px;

  /* Std Indigo */

  background: #020238;
}

.links-wrapper {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
  padding: 10px;
}
#clickable {
  cursor: pointer;
}

#clickable:hover #btnov {
  opacity: 1;
}

#clickable:hover #inv {
  fill: rgba(2, 2, 56, 1);
}
